{%  extends 'base.html' %}

{% block title %}
    {{ block.super }} Listagem de Clientes
{% endblock title %}

{% block body %}

<div class="container">
    <h1>Listagem de Clientes</h1>

        {% if user.is_authenticated %}
            Bem Vindo {{ user.username }}!
            <p><a href="{% url 'logout' %}" class="btn btn-primary btn-sm">Log Out</a></p>
        {% endif %}        

    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Último nome</th>
                    <th scope="col">Sexo</th>
                    <th scope="col">Idade</th>
                    <th scope="col">Salário</th>
                    <th scope="col">Bio</th>
                    <th scope="col">Ações</th>
                  </tr>
                </thead>
                <tbody>
                {% for cliente in clientes %}
                    <tr>
                        <th scope="row">{{ cliente.id }}</th>
                        <td>{{ cliente.first_name }}</td>
                        <td>{{ cliente.last_name }}</td>
                        <td>{{ cliente.sex }}</td>
                        <td>{{ cliente.age }}</td>
                        <td>{{ cliente.salary }}</td>
                        <td>{{ cliente.bio }}</td>
                        <td>
                            <a href="{% url 'clientes:cliente_update' cliente.id %}" class="btn btn-primary btn-sm">Editar</a>
                            <a href="{% url 'clientes:cliente_delete' cliente.id %}" class="btn btn-danger btn-sm confirm-delete">Excluir</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
    <a href="{% url 'clientes:cliente_new' %}" class="btn btn-primary btn-sm">Novo</a>
</div>

{% endblock body %}